:root {
	--color-dark: #2b616d;
	--color-accent: #eec8ba;
	--color-middle: #b2dbd5;
	--color-light: #ffffff;
}

html {
	background-color: var(--color-light);
}

.header {
	background-color: var(--color-middle);
	color:  var(--color-dark);
}

.add-section-button {
	background-color: var(--color-middle);
	color: var(--color-dark);
}

.add-section-button:hover {
	background-color: var(--color-accent);
	color: var(--color-light);
}

.add-section-block {
	background-color: var(--color-accent);
}

.task-section {
	background-color: var(--color-accent);
}

.task-section__header {
	background-color: var(--color-middle);
	color:  var(--color-dark);
}

.task-section__button:hover {
	fill: var(--color-light);
}

.task {
	background-color: var(--color-light);
	color: var(--color-dark);
}

.task-section__footer-button_add {
	color: var(--color-dark);
}

.task-section__footer-button_add:hover {
	background-color: var(--color-middle);
	color: var(--color-dark);
}

.task-section__footer-icon {
	fill: var(--color-dark);
}

.task-section__footer-icon:hover {
	fill: var(--color-light);
}

.textarea {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.textarea__button_add {
    background-color: var(--color-middle);
    color: var(--color-dark);
}

.textarea__button_add:hover {
	background-color: var(--color-middle);
	color: var(--color-light);
}

.textarea__button_close {
    background-color: inherit;
    color:  var(--color-dark);
}

.textarea__button_close:hover {
	fill: var(--color-light);
}

.empty {
	background-color: var(--color-accent);
	color:  var(--color-light);
}
