* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-dark: #2f2e33;
	--color-accent: #8d97b6;
	--color-middle: #d5d6d2;
	--color-light: #ffffff;
}

/* Подключаем шрифты */
@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveatregular.woff2') format('woff2'),
    	url('../fonts/Caveatregular.woff') format('woff'),
	 	url('../fonts/Caveatregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notosans.woff2') format('woff2'),
    	url('../fonts/notosans.woff') format('woff'),
    	url('../fonts/notosans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
	font-family: 'Noto Sans', 'Arial', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;

	background-color: var(--color-light);
}

/* ------------------Стили шапки страницы---------------------------- */
.header {
	display:  flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 0.8rem;
	padding: 1rem 1.25rem;

	font-family: 'Caveat', fantasy;
	font-weight: 400;
	font-size: 1rem;

	background-color: var(--color-accent);
	color:  var(--color-light);
}

.main {
	display: flex;
	align-items: flex-start;

	padding: 0 1.25rem;
}

.task-section {
	width: 20%;
	min-width: 12.5rem;
	margin-left: 1rem;

	font-size: 0.875rem;

	border-radius: 0.32rem;
}

.task-section:first-child {
	margin-left: 0;
}

.add-section-button {
	width: 20%;
	min-width: 12.5rem;
	margin-left: 1rem;
	padding: 0.8rem 0.8rem;

	font-family: 'Noto Sans', 'Arial', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.875rem;

	border: none;
	border-radius: 0.32rem;
	background-color: var(--color-middle);
	color: var(--color-dark);
}

.add-section-button:first-child {
	margin-left: 0;
}

.add-section-button:hover {
	background-color: var(--color-accent);
	color: var(--color-light);
}

.add-section-block {
	width: 20%;
	margin-left: 1rem;
	padding: 0.8rem 0.8rem;

	border: none;
	border-radius: 0.32rem;
	background-color: var(--color-middle);
}

.task-section {
	background-color: var(--color-middle);
}

.task-section__header {
	display:  flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 1rem;
	padding: 0.938rem 1rem;

	border-radius: 0.32rem;
	background-color: var(--color-accent);
	color:  var(--color-light);
}

.task-section__title {
	text-transform: capitalize;
}

.task-section__button {
	width: 1rem;
	height: 1rem;

	border: none;
	background-color: transparent;
	fill: var(--color-dark);
}

.task-section__button:hover {
	fill: var(--color-light);
}

.task-section__container {
	padding: 0 0.625rem;
}

.task-list {
	list-style-type: none;
}

.task {
	position: relative;
	margin-top: 0.5rem;
	padding: 0.32rem 0.625rem;

	border-radius: 0.32rem;
	background-color: var(--color-light);
	color: #000000;
}

.task:first-child {
	margin-top: 0;
}

.task-text {
	font-size: 0.875rem;
}

.task__button_close {
	position: absolute;
	top: 3px;
	right: 3px;
	margin: 0;

	width: 1rem;
	height:  1rem;

	font-size: 0.875rem;
	border: none;
	background-color: inherit;
}

.task-section__footer {
	margin-top: 0.875rem;
	padding: 0 0.625rem 0.625rem;
}

.image-block__image {
	width: 100%;
}

.task-section__footer-block {
	display:  flex;
	justify-content: space-between;
	align-items: center;
}

.task-section__footer-button_add {
	padding: 0.5rem 0.8rem;

	font-family: inherit;

	border: none;
	border-radius: 0.32rem;
	background-color: inherit;
	color: var(--color-dark);
}

.task-section__footer-button_add:hover {
	background-color: var(--color-accent);
	color: var(--color-light);
}

.task-section__footer-label{
	width: 1.25rem;
	height:  1.25rem;
	position: relative;
}

.task-section__footer-icon{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;

	width: 1.25rem;
	height:  1.25rem;
	fill: var(--color-dark);
}

.task-section__footer-icon:hover {
	fill: var(--color-accent);
}

.task-section__footer-input{
	-webkit-appearance: none;
	-moz-appearance: none;

	width: 2px;
	height: 2px;

	opacity: 0;
}

.textarea {
	-webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    min-height: 1.25rem;

    font-family: inherit;
    font-size: 0.812rem;
    padding: 0.5rem;

    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;

		background-color: var(--color-light);
    color: var(--color-dark);
}

.textarea__button-block {
	display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.textarea__button_add {
	padding: 0.5rem 0.8rem;
  margin-right: 0.625rem;

  border: none;
  border-radius: 5px;

  font-size: 0.938rem;
  text-transform: capitalize;

	background-color: var(--color-accent);
  color: var(--color-light);
}

.textarea__button_add:hover {
	background-color: var(--color-light);
	color: var(--color-accent);
}

.textarea__button_close {
	width: 1rem;

  border: none;
	background-color: inherit;
  color:  var(--color-dark);
}

.textarea__button_close:hover {
	fill: var(--color-light);
}

.textarea-icon_close {
	width: 1rem;
}

.hidden {
	display: none;
}

.empty {
	width: 100%;
	margin-bottom: 7px;

	border-radius: 4px;
	background-color: var(--color-accent);
	color:  var(--color-light);
}

.dragged {
	position: absolute;
	z-index: 999;
	cursor: grabbing;
	list-style-type: none;
}
